body {
	font-family: "Miller Text", serif;
	/* src: url("https://type.cargo.site/files/MillerText-Roman.woff") format("woff"); */
	font-weight: bold;
	color: rgba(0, 0, 0, 0.85);
	text-align: left;
	padding: 7em;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-size: 2.5em;
	color: rgba(0, 0, 0, 0.78);
}

ul {
	list-style-type: none;
}

.column-left {
	float: left;
	width: 45%;
  }
.column-right {
	float: right;
	width: 45%;
}
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }

  @media only screen and (max-width: 768px) {
	/* For mobile phones: */
	[class*="column-"] {
	  width: 100%;
	  padding: .1em;
	}
  }
  ::selection {
	background-color: #8a8a8a;
	color: #fff;
}