body {
	font-family: sans-serif;
	/* font-weight: bold; */
	color: rgba(0, 0, 0, 0.85);
	text-align: left;
	padding: 7em;
}

@font-face {
	font-family: sans-serif;
	src: url('LibreBaskerville-Regular.otf') format('otf')
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-size: 2.5em;
	color: rgba(0, 0, 0, 0.78);
}
::selection {
	background-color: #8a8a8a;
	color: #fff;
}